.jbutton{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.text-center-importante{
    text-align: center;
    background-color: black;
    color: white;

}
.list-group-item{
    background-color: rgb(16, 169, 62);
    color: rgb(25, 232, 204);
    
}